<form style="font-size: 2em;margin-left: 54%;margin-top: 5%;" action="allotNumber" method="POST">
<label>Enter a phone number</label>
<input style="font-size:1em"  type="tel" name="number"></input>
<button style="    margin-left: 63%;margin-top: 8%;font-size: 0.8em" type="Submit">Allot Special No. </button>
</form>